:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-style: italic;
  letter-spacing: -0.22rem;
  font-size: 3rem;
  margin: 0;
  line-height: 0.85;
  margin-bottom: 0.5rem;
}

#app {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

#canvas-container {
  height: min(700px, 70vmin);
  width: min(700px, 70vmin);
}

canvas {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}

#settings-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

#settings-container > div {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.selector-container {
  display: flex;
  gap: 0.5rem;
}

.preview {
  height: 2rem;
  width: 2rem;
}
